@page "/pricing"

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content has-text-centered">
                    <p class="title">Free</p>
                    <p class="subtitle">5 @L["generations"] / @L["month"]</p>
                    <p class="price">$0</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card has-background-link-light">
                <div class="card-content has-text-centered">
                    <p class="title">Pro</p>
                    <p class="subtitle">100 @L["generations"] / @L["month"]</p>
                    <p class="price">$29</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card has-background-primary-light">
                <div class="card-content has-text-centered">
                    <p class="title">Enterprise</p>
                    <p class="subtitle">@L["Unlimited"] + API</p>
                    <p class="price">Contact</p>
                </div>
            </div>
        </div>
    </div>
</section>